<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ShabdMitra</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/hero-img.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">LingoLift</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
  
      <div class="container-fluid" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>ShabdMitra</h1>
            <h3>Your personalized language tutor powered by AI</h3>
  
            <form style="color:#E96D88;justify-content: left;" class="btn btn-orange btn-rounded-corner" class="icon-on-button" class="ion-ios-arrow-thin-right" method="post">
              
              <input name="name" placeholder="Enter Your Name" style="border-radius: 8px;padding: 7px;justify-content: left;">
                  <select name="language" id="language" style="border-radius: 8px;padding: 10px;">
                    <option value="german">Hindi</option>
                    <option value="spanish">Spanish</option>
                    <option value="french">French</option>
                    <option value="italian">Italian</option>
                    <option value="german">German</option>
                    <option value="german">Mandarin</option>
                    <option value="german">Japanese</option>
                    <option value="german">Telegu</option>
                    <option value="german">Korean</option>
  
                  </select>
                  <select name="difficulty" id="difficulty" style="border-radius: 8px;padding: 10px;">
                    <option value="easy">Easy</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                  </select>
                  <br>
                  <p></p>
              
  <!--             
              <div style="text-align: left;font-size:20px;">
              Name: &emsp;&emsp;&emsp;&emsp;&nbsp;<input name="text" class="btn-rounded-corner" style="border: 1px solid #E96D88; border-radius: 10px; font-size:20px;"/>
              </div>
              <p> </p> -->
              <button style="background-color:#FFD7D2; color: #E96D88" class="btn btn-orange btn-rounded-corner" class="icon-on-button" class="ion-ios-arrow-thin-right" type="submit">Submit</button>
            </form>
            
  
          </div>
          <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
            <img src="static/img/hero-img.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->
  
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container">
    
  
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-2" data-aos="zoom-in" data-aos-delay="150" style="padding-left: 100px; padding-right: 100px;">
                <img src="static/img/hero-dos.png" class="img-fluid animated" alt="">
              </div>
  
              <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-1 content" data-aos="fade-right">
                <h3 style="color: #E96D88; font-family: 'Montserrat';">Take your language skills to new heights with ShabdMitra!</h3>
                <br>
                <p class="fst-italic" style="color: #E96D88">
                  ShabdMitra is an innovative Indian AI language learning website that provides personalized learning experiences to users.
                   The website uses AI technology to have a conversation with the user in their target language at a customized difficulty level. 
                   After the conversation, the AI analyzes the user's mistakes and creates a personalized vocabulary quiz to help them learn from their errors. 
                   This unique approach to language learning offers a fun and engaging way to improve language proficiency. 
                   ]With ShabdMitra, users can easily practice speaking, listening, and vocabulary in their target language while receiving 
                   immediate feedback from the AI.</p>
                <ul>
                </ul>
              </div>
              
            </div>
    
          </div>
  
        </section><!-- End About Section -->
      </main><!-- End #main -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>
  
    <!-- Vendor JS Files -->
    <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
  
  </body>
  
  </html>